
h2 {
    text-align: center;
    font-size: 48px;
    color: rgba(153, 33, 33);
    font-style: italic;
    margin-top: 20px;
    //animation: neon 5s ease-in-out infinite alternate;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #ffa500,
                0 0 15px #ffa500,
                0 0 20px #ffa500,
                0 0 40px #ffa500,
                0 0 60px #ff0000,
                0 0 10px #ff8d00,
                0 0 98px #ff0000;
animation: blink 12s infinite;
-webkit-animation: blink 12s infinite;

}

.filters {
    max-width: 1200px;
    margin: 20px auto;
    padding-left: 20px;
}

::ng-deep {
    .form-infix {
        background-color: #3f51b5;
    }
    .select-value,
    .select-arrow,
    .form-hide-placeholder .select-placeholder,
    .form-appearance-legacy .form-label {
        color: #fff !important;
        opacity: 1;
    }
    .form-infix {
        border-color: #fff !important;
        border-top: none;
        padding-left: 5px !important;
    }
    .form-appearance-legacy .form-label {
        padding-left: 5px;
    }
    .form-appearance-legacy .form-underline {
        background-color: #fff !important;
    }
}

.beers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto;
}

.beer {
    width: 280px;
    margin: 10px;
    height: 330px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #202020;
    box-shadow: 5px 4px 8px 5px rgb(200 152 44 / 22%);
    transition-duration: 0.3s;
    cursor: pointer;
    &:hover {
        box-shadow: 7px 6px 14px 7px rgb(200 152 44 / 46%);
        transform: translateY(-3px);
    }
    &-thumb-container {
        background-color: #000;
        position: relative;
        height: 180px;
        color: #fff;
        text-align: center;
    }
    &-thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 172px;
    }
    &-description {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 120px;
    }
    &-name {
        color: rgba(153, 33, 33);
        font-weight: 700;
        font-size: 36px;
        //margin-bottom: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-style: italic;
        
         &:hover {
     color: rgb(216, 23, 23);
    }
}
}

@-webkit-keyframes blink {
    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
        text-shadow: 0 0 5px #ffe600, 0 0 15px #ffe600, 0 0 20px #ffe600, 0 0 40px #ffe600, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: rgba(153, 33, 33);
    }
}

@keyframes blink {
    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
        text-shadow: 0 0 5px #ffe600,
0 0 15px #ffe600,
0 0 20px #ffe600,
0 0 40px #ffe600,
0 0 60px #ff0000,
0 0 10px #ff8d00,
0 0 98px #ff0000;
        color: rgba(153, 33, 33);
    }
}



