<h2>Get your favourite beer</h2>
<div class="beers">
    <ng-container *ngFor="let beer of beers|search:filter">
        <a routerLink="/detail/{{beer.id}}">
            <div class="beer">
                <div class="beer-thumb-container">
                    <img *ngIf="beer.image_url" src="{{ beer.image_url }}" alt="thumbnail" class="beer-thumbnail" />
                    <p *ngIf="!beer.image_url">No image</p>
                </div>
                <div class="beer-description">
                    <p class="beer-name">{{ beer.name }}</p>
                </div>
            </div>
        </a>
    </ng-container>
</div>