/* HeroesComponent's private CSS styles */

h2{
    animation: neon 5s ease-in-out infinite alternate;
}
.list {
display: flex;
justify-content: center;
align-items: center;
list-style-type: none;
flex-direction: column;
margin-top: 50px;
font-style: italic;
font-size: 24px;
color: rgba(255, 255, 255, 0.836);


    ul{
        list-style-type: none;
        margin-top: 20px;
    li {
        display: flex;
        justify-content: center;
        background-color: rgba(153, 33, 33);
        margin: 15px;
        padding: 18px;
        height: 60px;
        border-radius: 4px;
        text-decoration: none;
        width: 400px;
        letter-spacing: 2px;
        cursor: pointer;

        &:hover {
        box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
        transform: translateY(-3px);
        }
        a{
            color: rgba(255, 255, 255, 0.849);
            text-decoration: none;
            font-weight: 600;
            font-size: 20px;   
        }
    }
    } 
}
// Screen larger than 600px? 2 column
@media screen and (min-width: 300px) {
    li {
        width: 200px;
    }
}

/*
.add-button:hover {
    color: white;
    background-color: #42545C;
}

button.delete {
    position: absolute;
    left: 210px;
    top: 5px;
    background-color: white;
    color: #525252;
    font-size: 1.1rem;
    padding: 1px 10px 3px 10px;
}

button.delete:hover {
    background-color: #525252;
    color: white;
}*/

@keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px rgba(30, 132, 242, 1);
    }
}